{% comment %} funcionado com deleção de registros em 04/04/23 às 13:41 {% endcomment %}

{% load static %}
{% include 'core/partials/__header.html' %}


  {% comment %} <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center border-purpple">

    <div class="d-flex align-items-center justify-content-between">
      <button type="button" class="btn btn-black toggle-sidebar-btn" action="{% url 'core:index-portal' %}">Menu</button>
      <a href="core/index-portal.html" class="logo d-flex align-items-center">
        <img src="{% static '/assets/img/logo.png' %}" alt="">
      </a>
      
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Buscar" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar --> {% endcomment %}

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static '/assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Iamge Icon -->

        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link">
          <span>Testar</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <span>Components</span><i class="bi bi-plus ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <span>Alerts</span>
            </a>
          </li>
          <li>
            <a href="components-accordion.html">
              <span>Accordion</span>
            </a>
          </li>
          <li>
            <a href="components-badges.html">
              <span>Badges</span>
            </a>
          </li>
          <li>
            <a href="components-breadcrumbs.html">
              <span>Breadcrumbs</span>
            </a>
          </li>
          <li>
            <a href="components-buttons.html">
              <span>Buttons</span>
            </a>
          </li>
          <li>
            <a href="components-cards.html">
              <span>Cards</span>
            </a>
          </li>
          <li>
            <a href="components-carousel.html">
              <span>Carousel</span>
            </a>
          </li>
          <li>
            <a href="components-list-group.html">
              <span>List group</span>
            </a>
          </li>
          <li>
            <a href="components-modal.html">
              <span>Modal</span>
            </a>
          </li>
          <li>
            <a href="components-tabs.html">
              <span>Tabs</span>
            </a>
          </li>
          <li>
            <a href="components-pagination.html">
              <span>Pagination</span>
            </a>
          </li>
          <li>
            <a href="components-progress.html">
              <span>Progress</span>
            </a>
          </li>
          <li>
            <a href="components-spinners.html">
              <span>Spinners</span>
            </a>
          </li>
          <li>
            <a href="components-tooltips.html">
              <span>Tooltips</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <span>Forms</span><i class="bi bi-plus ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="forms-elements.html">
              </i><span>Form Elements</span>
            </a>
          </li>
          <li>
            <a href="forms-layouts.html">
              <span>Form Layouts</span>
            </a>
          </li>
          <li>
            <a href="forms-editors.html">
              <span>Form Editors</span>
            </a>
          </li>
          <li>
            <a href="forms-validation.html">
              <span>Form Validation</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <span>Tables</span><i class="bi bi-plus ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tables-general.html">
              <span>General Tables</span>
            </a>
          </li>
          <li>
            <a href="tables-data.html">
              <span>Data Tables</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <span>Charts</span><i class="bi bi-plus ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="charts-chartjs.html">
              <span>Chart.js</span>
            </a>
          </li>
          <li>
            <a href="charts-apexcharts.html">
              <span>ApexCharts</span>
            </a>
          </li>
          <li>
            <a href="charts-echarts.html">
              <span>ECharts</span>
            </a>
          </li>
        </ul>
      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <span>Icons</span><i class="bi bi-plus ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="icons-bootstrap.html">
              </i><span>Bootstrap Icons</span>
            </a>
          </li>
          <li>
            <a href="icons-remix.html">
              </i><span>Remix Icons</span>
            </a>
          </li>
          <li>
            <a href="icons-boxicons.html">
              <span>Boxicons</span>
            </a>
          </li>
        </ul>
      </li><!-- End Icons Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <table class="table table-bordered">
            <thead class="table-purpple">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Data</th>
                {% comment %} <th scope="col">Hora</th> {% endcomment %}
                <th scope="col">Quem publicou?</th>
                <th scope="col">Titulo</th>
                <th scope="col" colspan="3">Opções</th>
              </tr>
            </thead>
            <tbody>
              {% for x in item %}
              <tr>    
                  <th scope="row">{{ x.id }}</th>
                  <td>{{ x.created_at }}</td>
                  {% comment %} <td>09:00</td> {% endcomment %}
                  <td>{{ x.created_by }}</td>
                  <td>{{ x.name }}</td>
                  <td><button type="button" class="btn btn-purpple">Visualizar</button></td>
                  <td><button type="button" class="btn btn-purpple">Editar</button></td>
                  <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ x.id}}">Excluir</button></td>
                  <br>
              </tr>
              <div class=" modal fade modal-dialog modal-dialog-centered modal-portal" id="exampleModal{{ x.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Deseja realmente excluir esse conteúdo?
                    </div>
                    <form  action="{% url 'core:item_delete' x.id %}" method="POST">
                      {% csrf_token %}
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="location.href= '{% url 'core:crud_lista' %}'">Fechar</button>
                        <button type="submit" class="btn btn-danger">Excluir {{ x.id}}</button>
                      
                          {% comment %} {% for i in items %} {% endcomment %}
                        
                        {% comment %} {% endfor %} {% endcomment %}
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}         
            </tbody>
    </table>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <script src="{% static '/assets/js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript">
        $('.modal').modal('show');
    </script>
  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/apexcharts/apexcharts.min.js' %}"></script>
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/chart.js/chart.umd.js' %}"></script>
  <script src="{% static '/assets/vendor/echarts/echarts.min.js' %}"></script>
  <script src="{% static '/assets/vendor/quill/quill.min.js' %}"></script>
  <script src="{% static '/assets/vendor/simple-datatables/simple-datatables.js' %}"></script>
  <script src="{% static '/assets/vendor/tinymce/tinymce.min.js' %}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

</body>

</html>