{% load static %}
{% include 'core/partials/__header.html' %}


  {% comment %} <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center border-purpple">

    <div class="d-flex align-items-center justify-content-between">
      <button type="button" class="btn btn-black toggle-sidebar-btn" action="{% url 'core:index-portal' %}">Menu</button>
      <a href="core/index-portal.html" class="logo d-flex align-items-center">
        <img src="{% static '/assets/img/logo.png' %}" alt="">
      </a>
      
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Buscar" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar --> {% endcomment %}

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static '/assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">
              {% if usuario %}
                {{ usuario }}
              {% else %}
                Usuario1
              {% endif %}

            </span>
          </a><!-- End Profile Iamge Icon -->

        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      {% comment %} {% if  (1,) in perfil_user or 1 in perfil_user %} {% endcomment %}
        <li class="nav-item">
          <a class="nav-link">
            {% if usuario %}
              <form action="{% url 'core:item_create2' usuario %}" method="GET"> 
            {% else %}
              <form action="{% url 'core:item_create' %}" method="GET"> 
            {% endif %}
              <td><button type="submit" class="btn btn-purpple">Criar</button></td>
            </form>

          </a>
        </li><!-- End Dashboard Nav -->
      {% comment %} {% endif %} {% endcomment %}

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <span>Components</span><i class="bi bi-plus ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <span>Alerts</span>
            </a>
          </li>
          {% comment %} <li>
            <a href="components-accordion.html">
              <span>Accordion</span>
            </a>
          </li>
          <li>
            <a href="components-badges.html">
              <span>Badges</span>
            </a>
          </li>
          <li>
            <a href="components-breadcrumbs.html">
              <span>Breadcrumbs</span>
            </a>
          </li>
          <li>
            <a href="components-buttons.html">
              <span>Buttons</span>
            </a>
          </li>
          <li>
            <a href="components-cards.html">
              <span>Cards</span>
            </a>
          </li>
          <li>
            <a href="components-carousel.html">
              <span>Carousel</span>
            </a>
          </li>
          <li>
            <a href="components-list-group.html">
              <span>List group</span>
            </a>
          </li>
          <li>
            <a href="components-modal.html">
              <span>Modal</span>
            </a>
          </li>
          <li>
            <a href="components-tabs.html">
              <span>Tabs</span>
            </a>
          </li>
          <li>
            <a href="components-pagination.html">
              <span>Pagination</span>
            </a>
          </li>
          <li>
            <a href="components-progress.html">
              <span>Progress</span>
            </a>
          </li>
          <li>
            <a href="components-spinners.html">
              <span>Spinners</span>
            </a>
          </li>
          <li>
            <a href="components-tooltips.html">
              <span>Tooltips</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <span>Forms</span><i class="bi bi-plus ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="forms-elements.html">
              </i><span>Form Elements</span>
            </a>
          </li>
          <li>
            <a href="forms-layouts.html">
              <span>Form Layouts</span>
            </a>
          </li>
          <li>
            <a href="forms-editors.html">
              <span>Form Editors</span>
            </a>
          </li>
          <li>
            <a href="forms-validation.html">
              <span>Form Validation</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <span>Tables</span><i class="bi bi-plus ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="tables-general.html">
              <span>General Tables</span>
            </a>
          </li>
          <li>
            <a href="tables-data.html">
              <span>Data Tables</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <span>Charts</span><i class="bi bi-plus ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="charts-chartjs.html">
              <span>Chart.js</span>
            </a>
          </li>
          <li>
            <a href="charts-apexcharts.html">
              <span>ApexCharts</span>
            </a>
          </li>
          <li>
            <a href="charts-echarts.html">
              <span>ECharts</span>
            </a>
          </li>
        </ul>
      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <span>Icons</span><i class="bi bi-plus ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="icons-bootstrap.html">
              </i><span>Bootstrap Icons</span>
            </a>
          </li>
          <li>
            <a href="icons-remix.html">
              </i><span>Remix Icons</span>
            </a>
          </li>
          <li>
            <a href="icons-boxicons.html">
              <span>Boxicons</span>
            </a>
          </li>
        </ul>
      </li><!-- End Icons Nav --> {% endcomment %}
    </ul>
    </ul>

  </aside><!-- End Sidebar-->
  
  <main id="main" class="main">
    <table class="table table-bordered" id="tabela-portal">
            
            <thead class="table-purpple">
              {% comment %} <tr scope="row" colspan="8">Publicações<tr> {% endcomment %}
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Data</th>
                <th scope="col">Quem publicou?</th>
                <th scope="col">Titulo</th>
                <th scope="col" colspan="3">Opções</th>
              </tr>
            </thead>
            <tbody>
              {% for x in item %}
              <tr>    
                  <th scope="row">{{ x.id }}</th>
                  <td>{{ x.created_at }}</td>
                  <td>{{ x.created_by }}</td>
                  <td>{{ x.name }}</td>
                  {% comment %}                   
                  {% if usuario %}
                    <form action="{% url 'core:item_create2' usuario %}" method="GET"> 
                      <td><button type="submit" class="btn btn-purpple">Criar</button></td>
                    </form>
                  {% else %}
                    <form action="{% url 'core:item_create' %}" method="GET"> 
                      <td><button type="submit" class="btn btn-purpple">Criar</button></td>
                    </form>
                  {% endif %}
                  {% endcomment %}

                  <form action="{% url 'core:item_visualizar' x.id %}" method="GET">
                    {% comment %} {% csrf_token %} {% endcomment %}
                    <input type="text" name="usuario" id="usuario" hidden value="{{ usuario }}">
                    <td><button type="submit" class="btn btn-purpple">Visualizar</button></td>
                  </form>
                  
                  {% comment %} <td><button type="button" class="btn btn-purpple" onclick="location.href= '{% url 'core:item_update' item.id %}'">Editar</button></td> {% endcomment %}
                  <form action="{% url 'core:item_update' x.id %}" method="GET">
                    {% comment %} {% csrf_token %} {% endcomment %}
                    <input type="text" name="usuario" id="usuario" hidden value="{{ usuario }}">
                    <td><button type="submit" class="btn btn-secondary">Editar</button></td>
                    {% comment %} <td><button type="submit" class="btn btn-danger">Testando{{ x.description_with_photo|safe }}</button></td> {% endcomment %}

                  </form>
                  <td><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal{{ x.id}}">Excluir</button></td>
              </tr>
              <div class=" modal fade modal-dialog modal-dialog-center modal-portal" id="exampleModal{{ x.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Excluir</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Deseja realmente excluir esse conteúdo?
                    </div>
                    <form  action="{% url 'core:item_delete2' x.id %}" method="POST">
                      {% csrf_token %}
                      <div class="modal-footer">
                        {%if perfil_user == 1 or perfil_user == 3 %}
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="location.href= '{% url 'core:crud_lista' 1 %}'">Fechar</button>
                        {% else %}
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="location.href= '{% url 'core:crud_lista'  2 %}'">Fechar</button>
                        {% endif %}
                        <button type="submit" class="btn btn-danger" name={{ perfil_user }} value={{ perfil_user }}>Excluir {{ x.id}}</button>
                      
                          {% comment %} {% for i in items %} {% endcomment %}
                        
                        {% comment %} {% endfor %} {% endcomment %}
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              {% endfor %}         
            </tbody>
    </table>

  </main><!-- End #main -->

  {% include 'core/partials/__footer.html' %}
