{% include 'core/partials/__header.html' %}
{% load static %}
{% load bootstrap5 %}

<body>
    <div class="container">
        <h1>Editar usuário</h1>
        {% bootstrap_messages %}
       
        {% buttons %}
           <a href="/loginform"><button type="button" class="btn btn-secondary">Listar usuários</button></a>
        {% endbuttons %}

        <form action="../views:salvar" method="POST" class="form">
            {% csrf_token %}

            {% comment %} {% bootstrap_form form %} {% endcomment %}

            {% for usr in usuario %}
                <input type="text" value="{{ usr.nome}}"> <br>
                <input type="text" value="{{ usr.cargo}}"> <br>
                <input type="text" value="{{ usr.cargo}}"> <br>
            {%endfor%}

            
            <a href="../views:salvar"><button type="submit" class="btn btn-primary">Salvar</button></a>
        </form>
        
    </div>

    {% include 'core/partials/__footer.html' %}