{% include 'core/partials/__header.html' %}
{% load static %}
{% load bootstrap5 %}

<nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">

      <li class="nav-item d-block d-lg-none">
        <a class="nav-link nav-icon search-bar-toggle " href="#">
          <i class="bi bi-search"></i>
        </a>
      </li><!-- End Search Icon-->

      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="{% static '/assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
        </a><!-- End Profile Iamge Icon -->

      </li><!-- End Profile Nav -->

    </ul>
  </nav><!-- End Icons Navigation -->

</header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link">
        <span>Testar</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <span>Components</span><i class="bi bi-plus ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="components-alerts.html">
            <span>Alerts</span>
          </a>
        </li>
        <li>
          <a href="components-accordion.html">
            <span>Accordion</span>
          </a>
        </li>
        <li>
          <a href="components-badges.html">
            <span>Badges</span>
          </a>
        </li>
        <li>
          <a href="components-breadcrumbs.html">
            <span>Breadcrumbs</span>
          </a>
        </li>
        <li>
          <a href="components-buttons.html">
            <span>Buttons</span>
          </a>
        </li>
        <li>
          <a href="components-cards.html">
            <span>Cards</span>
          </a>
        </li>
        <li>
          <a href="components-carousel.html">
            <span>Carousel</span>
          </a>
        </li>
        <li>
          <a href="components-list-group.html">
            <span>List group</span>
          </a>
        </li>
        <li>
          <a href="components-modal.html">
            <span>Modal</span>
          </a>
        </li>
        <li>
          <a href="components-tabs.html">
            <span>Tabs</span>
          </a>
        </li>
        <li>
          <a href="components-pagination.html">
            <span>Pagination</span>
          </a>
        </li>
        <li>
          <a href="components-progress.html">
            <span>Progress</span>
          </a>
        </li>
        <li>
          <a href="components-spinners.html">
            <span>Spinners</span>
          </a>
        </li>
        <li>
          <a href="components-tooltips.html">
            <span>Tooltips</span>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <span>Forms</span><i class="bi bi-plus ms-auto"></i>
      </a>
      <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="forms-elements.html">
            </i><span>Form Elements</span>
          </a>
        </li>
        <li>
          <a href="forms-layouts.html">
            <span>Form Layouts</span>
          </a>
        </li>
        <li>
          <a href="forms-editors.html">
            <span>Form Editors</span>
          </a>
        </li>
        <li>
          <a href="forms-validation.html">
            <span>Form Validation</span>
          </a>
        </li>
      </ul>
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <span>Tables</span><i class="bi bi-plus ms-auto"></i>
      </a>
      <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="tables-general.html">
            <span>General Tables</span>
          </a>
        </li>
        <li>
          <a href="tables-data.html">
            <span>Data Tables</span>
          </a>
        </li>
      </ul>
    </li><!-- End Tables Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
        <span>Charts</span><i class="bi bi-plus ms-auto"></i>
      </a>
      <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="charts-chartjs.html">
            <span>Chart.js</span>
          </a>
        </li>
        <li>
          <a href="charts-apexcharts.html">
            <span>ApexCharts</span>
          </a>
        </li>
        <li>
          <a href="charts-echarts.html">
            <span>ECharts</span>
          </a>
        </li>
      </ul>
    </li><!-- End Charts Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
        <span>Icons</span><i class="bi bi-plus ms-auto"></i>
      </a>
      <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="icons-bootstrap.html">
            </i><span>Bootstrap Icons</span>
          </a>
        </li>
        <li>
          <a href="icons-remix.html">
            </i><span>Remix Icons</span>
          </a>
        </li>
        <li>
          <a href="icons-boxicons.html">
            <span>Boxicons</span>
          </a>
        </li>
      </ul>
    </li><!-- End Icons Nav -->
  </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">
    <br>
    <div class="container" id="div-edicao">
        <br>
        <h1>Editar Publicação</h1>
        {% bootstrap_messages %}
       
        {% buttons %}
           <a href="{% url 'core:crud_lista' %}"><button type="button" class="btn btn-secondary">Listar Publicações</button></a>
        {% endbuttons %}

        <form  action="{% url 'core:item_update' items.id %}" method="POST" id="form-edicao">
            {% csrf_token %}

            {% comment %} {% bootstrap_form form %} {% endcomment %}
            
            {{ form.as_p }}
            {{ form.media }}

            {% comment %} {% for x in item %} {% endcomment %}
            {% comment %} <input type="text" class="form-control" value="{{ item.category}}"> <br>
            <input type="text" class="form-control"value="{{ item.name}}"> <br>
            <input type="text" class="form-control" value="{{ item.description}}"> <br>
            <input type="text" class="form-control" value="{{ item.created_by}}"> <br>
            {% endcomment %}
            {% comment %} {%endfor%} {% endcomment %}
            <a href="{% url 'core:item_update' items.id %}"><button type="submit" class="btn btn-primary">Salvar</button></a>
        </form>

    </div>
</main>

    {% comment %} {% include 'core/partials/__footer.html' %} {% endcomment %}