{% comment %} {% extends 'core/master.html' %} {% endcomment %}
{% include 'core/partials/__header.html' %}
{% load static %}
{% comment %} Template relacionado a view 'navbar' {% endcomment %}
{% block content %}

<div class="container">
  <button class="btn btn-danger"><a href="http://127.0.0.1:8000/items/new">Publicações</a></button>
</div>

<div class="dropdown">
  <ul>
    <li class="nav-item dropdown bg-info" style="list-style: none;">
      {% for i in menus %}
        <a class="nav-link dropdown-toggle" id="myDropdown" data-bs-toggle="dropdown" href="#"> {{ i.nome }}</a>
        <ul class="dropdown-menu">
              {% if i.id == 1 %}
                {% for x in um %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
              {% elif i.id == 2 %}
                {% for x in dois %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
                
              {% elif i.id == 3 %}
                {% for x in tres %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
                
              {% elif i.id == 4 %}
                {% for x in quatro %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
                
              {% elif i.id == 5 %}
                {% for x in cinco %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
                
              {% elif i.id == 6 %}
                {% for x in seis %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
                
              {% elif i.id == 7 %}
                {% for x in sete %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
                
              {% elif i.id == 8 %}
                {% for x in oito %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
                
              {% elif i.id == 9 %}
                {% for x in nove %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
              {% elif i.id == 10 %}
                {% for x in dez %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
              {% elif i.id == 11 %}
                {% for x in onze %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
              {% elif i.id == 12 %}
                {% for x in doze %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
              {% elif i.id == 13 %}
                {% for x in treze %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
              {% elif i.id == 14 %}
                {% for x in quatorze %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
              {% elif i.id == 15 %}
                {% for x in quinze %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
              {% elif i.id == 16 %}
                {% for x in dezesseis %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
              {% elif i.id == 17 %}
                {% for x in dezessete %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
              {% elif i.id == 18 %}
                {% for x in dezoito %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
              {% elif i.id == 19 %}
                {% for x in dezenove %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
              {% elif i.id == 20 %}
                {% for x in vinte %}
                  <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                {% endfor %}
                {% comment %}  
                {% else %}
                  {% for x in submenus %}
                    <li><a class="dropdown-item" href="#"> {{ x.nome }}</a></li>
                  {% endfor %}
                {% endcomment %}
              {% endif %}
        </ul>  
      {% endfor %} 
    </li>
  </ul>
</div>

  {% include './partials/__footer.html' %} 
{% endblock %}