{% load static %}
{% comment %} Template relacionado a view 'aplicativos' {% endcomment %}
{% include 'core/partials/__header.html' %}

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{% static '/assets/img/profile-img.jpg' %}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ usuario }}</span>
          </a><!-- End Profile Iamge Icon -->

        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item"  onClick="javascript:history.go(-1)">
        {% comment %} <a class="nav-link " href="{% url 'core:conteudo' %}"> {% endcomment %}
        <a class="nav-link ">
          <span class="btn btn-purpple">Voltar</span>
          {% comment %}   {{ perfil_user }} {% endcomment %}
        </a>
      </li><!-- End Dashboard Nav -->
      
      <li class="nav-item">
        <a class="nav-link">
          <span>Testar</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <span>Components</span><i class="bi bi-plus ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="components-alerts.html">
              <span>Alerts</span>
            </a>
          </li>
          
    </ul>
    </ul>

  </aside><!-- End Sidebar-->
<br>
<main id="main" class="main">
    <h1>Página não existe</h1>
    <p> Descrição: Testando 1, 2, 3</p>
</main>

{% include 'core/partials/__footer.html' %}