body {
  margin-top: 70px;
  background-image: url('images/fundo-portal.png');
}


@media screen and (max-width: 650px) {
  #imagem {
    display: none;
  }
  #father {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    font-size: 20px;
  }
  
  #card {
    flex: 1 1 150px;
    margin: 5px;
    width: 100%;
    font-size: 15px;
    color: red;

  }
  
  
}

#imagem-logo-top-bar {
/* padding: 20px;  */
/* margin-bottom: 20px;  */
  margin: 25px 25px 25px 25px;
  margin-left: 150px;
  width: 25%;
}

#cabecalho {
  background-color: #FFFFFF;
  padding-bottom: 25px;
  height: 15%;
  position: fixed;
}

.btn {
  background-color: #72007A;
  color: #FFFFFF;
  margin: 25px 25px 25px 25px;
  width: 8%;
}

/* .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0.125em;
} */
.dropdown:hover > .dropdown-menu {
  display: block;
  margin-top: 0.125em;
  color: #FFFFFF;
}

.nav-item {
  background-color: #72007A;
  width: 10%;
  color: #FFFFFF;
}

#menu {
  margin-top: -1%;
}

#menu:hover {
  color: #FFFFFF;
}

btn:hover {
  color: #FFFFFF;
}

.nav-link:hover{
  color: #FFFFFF;
  text-align: center;
  width: 50%;
}

img {
  margin-top: 0px;
  padding-top: -20px;
  margin-left: 0px;
}

.dropdown-item{
  color: #72007A;
  
}

hr {
  color: #72007A !important;
  height: 3px !important;
  width: 100%;
}

#imagem-logo-top-bar {
  width: 30%
}

#cls-container{
  width: 30%;
}

#cnt-image {
  width: 10%;
  margin-left: 10px;
  padding-left: 10%;
  
}


p {
  text-decoration: none;
  text-align: center;
  margin: 0px 0px 0px 0px;

}

#img-buscar {
  float: right;
}

